/* 修改密码输入框的样式 */
input.box{    
       height:24px;    
       inline-height:22px;  
       font-size:14px;
       font-family:"微软雅黑";    
       width:200px;   
       text-align:left;  
       border:#cdcdcd 1px solid;   
} 
/* 提交按钮的样式 */
input.box2{
color:black;
width:80px;
height:30px;
text-align:center;
font-family:微软雅黑;
font-size:14px;
margin-left:2.5em;
margin-top:1.0em;
}