/* this is used to style the turotial page.Download by http://www.codefans.net */
body {
	
	margin: 0px;
	padding: 0px;
	font-family: 微软雅黑, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	line-height: 180%;
}


/* this is the CSS for the menu that you will need. */
#menu_holder {
	height: 40px;
	width: 100%;
	display: block;
	position: absolute;
	top: -40px;
}
#nav {
	height: 40px;
	width: 100%;
	margin: 0px auto;
	padding: 0px;
	background-image: url(../image/middle.png);
	background-repeat: repeat-x;
	background-position: right;
}

#hit_area {
	height: 100px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: block;
	background-color:#80c3e6;
}


#menu_holder label{
float:left;
}
#lookup{
margin-top:5px;
padding:0px;
float:right;
}
#lookup input{
float:right;
} 


#hit_area2 {
	width: 100%;
	height:1000px;
	display: block;
	position: absolute;
	margin: 0px;
	left: 0px;
	top: 120px;

	padding:0px;
}
.hit2{
float:left;
width:100%;
padding:0px;
}

.centerContent{
	width: 1100px;
	height:900px;
	
	margin-right: auto;
	margin-left: auto;
	padding:0px;
	
}
.center{
background-color:#f0edcf;
padding-top: 0px;
padding-bottom: 30px;
float:left;
}
.topMenuContainer{
width:588px;
padding:0px;
margin-top:0px;
position:absolute;
left:390px;
top:60px;

}
#topMenu{
	border-top:1px solid #ffffff;
        height: 40px;
	width:588px;
	margin: 0px auto;
	padding: 0px;
	background-position: right;
        background-image: url(../image/right1.png);
	background-repeat: no-repeat;

}
#topMenu ul {
	margin: 0px;
	padding: 0px 0px 0px 14px;
	height: 40px;
	list-style-type: none;
	background-image: url(../image/left1.png);
	background-repeat: no-repeat;
}
#topMenu li{
	margin: 0px;
	padding: 0px;
	float: left;
	
}
#topMenu #first{
background-color:#b75d5d;

}
#topMenu li a:link, #topMenu li a:active, #topMenu li a:visited {
	background-image: url(../image/middle.png);
	background-repeat: repeat-x;
	height: 40px;
	width:80px;
	display: block;
	line-height: 40px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	font-family: 微软雅黑, Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 110%;
}
#topMenu li a:focus, #topMenu li a:hover{
	text-decoration : none;
	-moz-outline:0;
	color: #FFFFFF;
	background-image: url(../image/rollOver1.png);
	background-repeat: repeat-x;
}

.leftIfo{
width:200px;
height:100%;
float:left;
text-align:center;
padding-top:0px;

}
.Pimage{
margin-left:auto;
margin-right:auto;
margin-top:10px;
}
.rightFrame{

width:898px;

overflow-y:visible;
float:right;
padding-top:0px;
border-left:1px solid #ffffff;
}

.ifoTit{

font-weight: bold;
background-image:url(../image/ifo.gif);
text-align:left;
padding-left:10px;
}
.Pimage{
margin-left:auto;
margin-right:auto;
}
.sex{

font-weight: bold;
}
.UserName a{
color:#0a70e2;
text-decoration:none;
padding:5px auto 5px auto;

}
.FandF{
margin-left:auto;
margin-right:auto;
}
.FandF a{

font-weight: bold;
font-size: 120%;
padding:5px 5px 5px 5px;
color:#0a70e2;
text-decoration:none;
margin-left:auto;
margin-right:auto;
}
.FandF a:hover,.UserName a:hover,.warnTit a:hover,.FandF a:focus,.UserName a:focus,.warnTit a:focus{
color:#f282e1;
text-decoration:underline;
}


.warnTit{
font-family:微软雅黑, Arial, Helvetica, sans-serif;
font-weight: bold;
background-image:url(../image/ifo.gif);
text-align:left;
padding-left:10px;
}
.warnTit a{
text-decoration:none;
color: #666666; 
}
.warning{
padding-top:5px;
text-align:left;
border-bottom:1px solid #ffffff;
}
.d1 {
margin:4px auto;
width:196px;
overflow:hidden;
white-space:nowrap;
}

.div2 {float:left;}

.div2 ul{
margin:0px;
padding:0px;
list-style-type:none;
}
.div2 ul li{
margin-bottom:5px;
border-bottom:1px solid #ffffff;
background-color:#FFEEE2;
}
.mtit{
background-color:#78cbf0;
background-repeat: repeat-x;
color:#666666;
font-weight: bold;
padding-left:10px; 
height:26px;
}
.mtxt{
margin-left:10px;
margin-top:10px;
}
.mtxt textarea{
font-family:微软雅黑, Arial, sans-serif;
font-size:14px;
width:500px;
height:80px;
overflow-y:hidden;
resize:none;
outline:none;
}

.Mall{
width:800px;
margin-left:10px;
margin-top:10px;
padding:5px;
border-top:1px solid #ffffff;
}


ul{
list-style-type:none;
}

.Mess{
font-size:120%;

}
.Mdate{
color:#23a6f1;
}
.Mdate span{
padding-right:10px;
}
.Mright ul li{
border-bottom:1px solid #ffffff;
background-color:#f5f1c5;
}
.ResTxt{
width:400px;
height:50px;
font-family:微软雅黑, Arial, sans-serif; 
font-size:14px;
overflow-y:hidden;
outline:none;
resize:none;
}

.OneMess{
margin:0px;
text-align:left;
}

.whoRes a{
color:#0a70e2;
}

.whoRes a:hover{
color:#f282e1;
}

.allMall{
padding:0px;
border-bottom:1px solid #ffffff;
}
.oneM .Mess{
background-color:#d1e8ee;
}
.ResIfo img{
width:100px;
height:100px;
border:0;
}
.resifo2{
text-align:center; 
}
.ResIfo tr td a{
text-decoration:none; 
}
.WhoR img{
height:40px;
width:40px;
}
td.resimg{
padding-top:15px;
width:110px;
}

.OneMess{
padding:0px;
}
.rescon{
padding-left:0px;
}
.oneM{
margin-left:0px;
}







